.box {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Domine", serif;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #d1d5db;
    border-top: 6px solid #4f46e5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 16px;
}